/* ======================== login =================================================== */

.dropbtn {
    background-color: #ededed;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn img,
.profile_img {
    width: 42px;
    border-radius: 50%;
    height: 40px;
    clip-path: circle(50px at 50% 50%);
    overflow: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ededed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ededed;
    color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ededed;
}


/* ======= */

.background_login {
    background: url(../images/backgrond_login.jpg);
    width: 100%;
}

body {
    width: 100%;
    height: 120px !important;
    background-color: aqua;
}

select {
    width: 200px;
    height: 37px;
    border-radius: 4px;
}

input#dd {
    margin: 10px 0 !important;
}

input[type="password"] {
    width: 100%;
    line-height: 30px;
}

#list_role option[value="5"] {
    display: none;
}


/* ============================ end login ================================================== */

.modal {
    margin-left: 0 !important;
    background-color: transparent !important;
}


/* .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
} */

#close_video {
    color: #fff !important;
    position: relative;
    right: 13px;
    border-radius: 12px;
    background: red;
}

.close {
    position: absolute;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}


/* .buttonNext {
    float: left;
    margin-left: 100px !important;
    margin-bottom: -48px !important;
} */


/* ẩn finish */

input[type=text],
select {
    width: 100% !important;
    padding: 0px 5px !important;
    margin: 0 !important;
    display: inline-block !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    font-size: 14px !important;
    line-height: 40px !important;
    color: #555;
    vertical-align: middle !important;
}

button {
    border: none !important;
    color: white !important;
    padding: 13px 18px 10px !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 16px !important;
    margin: 0px !important;
    cursor: pointer !important;
}

.button:hover {
    background-color: #fff;
}

.btn:focus {
    box-shadow: none !important;
}

.button:active {
    background-color: #58257b !important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
}


/* // icon time  */

.icon-time {
    background-position: -44px -24px !important;
}

.datetimepicker3,
.datetimepicker4 {
    display: inline-flex;
    margin-bottom: 0;
    vertical-align: middle;
    zoom: 1;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    margin-top: 8px !important;
    margin-right: 5px !important;
    line-height: 14px;
    vertical-align: text-bottom !important;
}


/* icon time_start end in footer and header  */

#icon_time_start,
#icon_time_end,
#icon_start_footer,
#icon_end_footer {
    -webkit-border-radius: 4px 0px 0px 4px;
    margin-right: -1px;
}

label {
    margin: 5px 0;
}

span.add-on {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    vertical-align: -1px;
    display: inline-block;
    width: auto;
    height: 42px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    white-space: normal;
}

.input-append .add-on {
    height: 42px !important;
}


/*  end .icon-time */


/* Multi Step Form Wizard validation  */

.previous {
    background-color: #bbbbbb;
}

.input-group-text {
    padding: 2px 2px !important;
    width: 100% !important;
}

.input-group-addon {
    border: none !important;
    width: 100% !important;
}

.colorpicker {
    display: flex;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: auto;
    width: 100%;
    cursor: pointer;
    margin: 0 2px;
    color: #000;
    border: none;
    border: 1px solid #666;
    border-radius: 10px;
    display: inline-block;
    opacity: 0.8;
    padding: 5px
}

.pull-right .action {
    background: #1396e0;
    color: #ffffff;
    border: none;
    padding: 10px 20px !important;
    font-size: 17px !important;
    cursor: pointer !important;
    margin: 5px !important;
}


/* end  */

input {
    height: auto !important;
}

.stepContainer {
    height: auto !important;
}

.actionBar {
    min-height: 300px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div.actionBar.buttonDisabled {
    margin-bottom: 0px !important;
}


/* menu top dropdown */

.dropdown-menu.show {
    transform: translate3d(-84px, 22px, 0px) !important;
    ;
}


/* StepTitle */

.StepTitle {
    padding: 10px 20px;
}

.error {
    color: #f00;
}


/* //button */

#load_video_source {
    background-color: blue !important;
    border-radius: 5px;
    height: 40px;
    padding: 5px !important;
}

.input-sumbit {
    margin-bottom: none !important;
}

.active a span.fa {
    display: none;
}


/* remove link source video  */

i.del {
    padding: 8px;
    margin: -6px 0;
    color: #f00;
    font-size: 16px;
}


/*button submitvideo  */

#submit_video {
    margin-top: -78px;
    margin-right: 100px !important;
    float: left;
}

.left_col {
    background: #1396e0 !important;
}

.profile {
    /* background-color: #1689ca; */
}

.nav.side-menu>li.active>a {
    background: #1396e0 !important;
}

.nav.child_menu>li>a {
    background: #1396e0 !important;
    color: #f1f1f1 !important;
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: #f1f1f1 !important;
}

.nav li li.current-page a {
    background: #1689ca !important;
}

.nav-md .container.body .col-md-3.left_col {
    min-height: 1260px !important;
}


/* Style the buttons */

.filterDiv a button {
    color: #006dbf !important;
}

.filterDiv a button:focus {
    background: brown !important;
    color: white !important;
}

button.btn.btn-simple.btn-sm.btn.btn-filter a:focus {
    background: #006dbf !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none;
}


/* Add a light grey background on mouse-over */

#filterDiv a:hover,
a:active {
    background: #ddd;
}


/* thanh cuộn trang */

#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 60px;
    z-index: 9999;
    width: 45px;
    height: 40px;
    background: blue;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
}

#back-to-top a {
    text-decoration: none;
}

#back-to-top i {
    color: #fff;
}


/* Add a dark background to the active button */

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}


/*// comment */

.thumbnail {
    padding: 0px;
}

.thumbnail .user-photo {
    width: 100%;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,
.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}


/* //error input load_video */

.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}


/* /mutiple-select */

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}